*{
	margin: 0;
	padding: 0;
}

.main_name{
	font-size: 100px;
}

.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin: 10px;
}

.grid_item{
	height: 44vh;
	border: 1px solid black;
	border-radius: 20px;
	background-color: gray;
	padding: 10px;
	color: ghostwhite;
	font-size: 200%;
	display: grid;
	grid-template-rows: 1fr 3fr 2fr 1fr;
}

.img {
	height: 100px;
}

.button {
	width: 90%;
	height: 23px;
	border-radius: 10px;
}